In [6]:
## Data exploration and Cleaning

In [7]:
import pandas as pd 
import glob
import os

In [8]:
# Path to your data folder
data_path = r'C:\Users\skman\Pictures\UK masters\Data Science\Projects\quantium-starter-repo\data'

# 1. Get a list of all CSV files in the folder
all_files = glob.glob(os.path.join(data_path, "*.csv"))

# 2. Read each file into a list of DataFrames
df_list = [pd.read_csv(file) for file in all_files]

# 3. Concatenate all DataFrames into one
df = pd.concat(df_list, ignore_index=True)

# Verify the result
print(f"Loaded {len(all_files)} files.")
df.head()

Loaded 3 files.

       product  price  quantity        date region
0  pink morsel  $3.00       546  2018-02-06  north
1  pink morsel  $3.00       549  2018-02-06  south
2  pink morsel  $3.00       577  2018-02-06   east
3  pink morsel  $3.00       519  2018-02-06   west
4  gold morsel  $9.99       580  2018-02-06  north

In [9]:
df=df[df['product']=='pink morsel']

In [10]:
# 1. Clean the price column (remove '$' and convert to float)
df['price'] = df['price'].replace('[$,]', '', regex=True).astype(float)

# 2. Create the sales column
df['sales'] = df['price'] * df['quantity']

# 3. Remove the original price and quantity columns
df.drop(columns=['price', 'quantity'], inplace=True)

# Display the result
df.head()

        product        date region   sales
0   pink morsel  2018-02-06  north  1638.0
1   pink morsel  2018-02-06  south  1647.0
2   pink morsel  2018-02-06   east  1731.0
3   pink morsel  2018-02-06   west  1557.0
28  pink morsel  2018-02-07  north  1587.0

In [12]:
df.shape

(5880, 4)